# Copy this file to .env and edit values before running setup.sh

# HPC project root and runtime values
HPC_PROJECT_ROOT=/projects/EEHPC-DEV-2026D02-075
HPC_USER=isabelmoutinho
HPC_WORK=/home/isabelmoutinho/work
HPC_USER_HOME=/home/isabelmoutinho

# InterLink Slurm Sidecar settings
INTERLINK_SIDECAR_VERSION=0.6.1

# Sync and logging
TSOCKS_PATH=${HPC_WORK}/tsocks-1.8beta5+ds1/libtsocks.so
TSOCKS_LOGIN_NODE=login01

# MinIO / data settings
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_HOST=68.221.216.246
MINIO_PORT=9000
MINIO_SCHEME=http
MINIO_ALIAS=myminio
